In [1]:
x=10

In [2]:
x

[1] 10

In [3]:
x=20

In [4]:
x

[1] 20

In [5]:
x=x+2

In [6]:
x

[1] 22

In [7]:
x=10

In [8]:
y=20

In [9]:
x+y

[1] 30

In [10]:
x/y

[1] 0.5

In [11]:
x*y

[1] 200

In [12]:
x-y

[1] -10

In [13]:
xy

ERROR: Error in eval(expr, envir, enclos): object 'xy' not found

In [ ]:
x^y

In [ ]:
log2(4)

In [ ]:
log10(4)

In [ ]:
abs(-4)

In [ ]:
log10(4)+abs(-4)

In [ ]:
sqrt(4)

In [ ]:
lemon_price <- 2

In [ ]:
lemon_price

In [ ]:
my_age <- 28

In [ ]:
my_age

In [ ]:
my_name <- "Nicolas"

In [ ]:
is_datascientist <- TRUE

In [ ]:
is_datascientist

In [ ]:
friend_ages <- c(27, 25, 29, 26)

In [ ]:
mean(friend_ages)

In [ ]:
max(friend_ages)

In [ ]:
print( "Hello world")

In [ ]:
myString <- "Hello, World!"

In [ ]:
 print ( myString)

In [ ]:
v <- TRUE

In [ ]:
v

In [ ]:
print(class(v))

In [ ]:
v <- 23.5

In [ ]:
print(class(v))

In [ ]:
v <- 2L
print(class(v))

In [ ]:
v <- 2+5i
print(class(v))

In [ ]:
v <- charToRaw("Hello")
print(class(v))

In [ ]:
v[0]

In [ ]:
apple <- c('red','green',"yellow")

In [ ]:
apple

In [ ]:
print(class(apple))

In [ ]:
list1 <- list(c(2,5,3),21.3,sin)

In [ ]:
list1

In [ ]:
M = matrix( c('a','a','b','c','b','a'), nrow = 2, ncol = 3, byrow = TRUE)

In [ ]:
M

In [ ]:
a <- array(c('green','yellow'),dim = c(3,3,2))

In [ ]:
a

In [ ]:
apple_colors <- c('green','green','yellow','red','red','red','green')

In [ ]:
factor_apple <- factor(apple_colors)

In [ ]:
print(factor_apple)

In [ ]:
print(nlevels(factor_apple))

In [ ]:
BMI <- 	data.frame(
   gender = c("Male", "Male","Female"), 
   height = c(152, 171.5, 165), 
   weight = c(81,93, 78),
   Age = c(42,38,26)
)

In [ ]:
print(BMI)

In [ ]:
var.1 = c(0,1,2,3)

In [ ]:
var.2 <- c("learn","R")

In [ ]:
c(TRUE,1) -> var.3

In [ ]:
print(var.1)
cat ("var.1 is ", var.1 ,"\n")
cat ("var.2 is ", var.2 ,"\n")
cat ("var.3 is ", var.3 ,"\n")

In [ ]:
var_x <- "Hello"
cat("The class of var_x is ",class(var_x),"\n")

In [ ]:
var_x <- 34.5
cat("  Now the class of var_x is ",class(var_x),"\n")

In [ ]:
var_x <- 27L
cat("   Next the class of var_x becomes ",class(var_x),"\n")

In [15]:
rm(list = ls())
print(ls())

character(0)

In [16]:
v <- c( 2,5.5,6)

In [18]:
t <- c(8, 3, 4)

In [19]:
v+t

[1] 10.0  8.5 10.0

In [20]:
v-t

[1] -6.0  2.5  2.0

In [21]:
v*t

[1] 16.0 16.5 24.0

In [22]:
v/t

[1] 0.250000 1.833333 1.500000

In [23]:
v%%t

[1] 2.0 2.5 2.0

In [25]:
v%/%t

[1] 0 1 1

In [26]:
v^t

[1]  256.000  166.375 1296.000