In [1]:
a <- 'Start and end with single quote'
print(a)

[1] "Start and end with single quote"

In [2]:
b <- "Start and end with double quotes"
print(b)

[1] "Start and end with double quotes"

In [3]:
c <- "single quote ' in between double quotes"
print(c)

[1] "single quote ' in between double quotes"

In [4]:
d <- 'Double quotes " in between single quote'
print(d)

[1] "Double quotes \" in between single quote"

In [10]:
str <- "abc12-`3def`"
parse(text = str)

expression(abc12 - `3def`)

In [13]:
a <- "Hello"
b <- 'How'
c <- "are you? "

print(paste(a,b,c))

print(paste(a,b,c, sep = "-"))

print(paste(a,b,c, sep = "", collapse = ""))

[1] "Hello How are you? "
[1] "Hello-How-are you? "
[1] "HelloHoware you? "

In [14]:
# Total number of digits displayed. Last digit rounded off.
result <- format(23.123456789, digits = 9)
print(result)

[1] "23.1234568"

In [15]:
# Display numbers in scientific notation.
result <- format(c(6, 13.14521), scientific = TRUE)
print(result)

[1] "6.000000e+00" "1.314521e+01"

In [16]:
# The minimum number of digits to the right of the decimal point.
result <- format(23.47, nsmall = 5)
print(result)

[1] "23.47000"

In [17]:
# Format treats everything as a string.
result <- format(6)
print(result)

[1] "6"

In [18]:
# Numbers are padded with blank in the beginning for width.
result <- format(13.7, width = 6)
print(result)

[1] "  13.7"

In [20]:
# Left justify strings.
result <- format("Hello", width = 8, justify = "l")
print(result)

[1] "Hello   "

In [21]:
# Justfy string with center.
result <- format("Hello", width = 8, justify = "c")
print(result)

[1] " Hello  "

In [22]:
result <- nchar("Count the number of characters")
print(result)

[1] 30

In [24]:
# Changing to Upper case.
result <- toupper("Changing To Upper")
print(result)

[1] "CHANGING TO UPPER"

In [25]:
# Changing to lower case.
result <- tolower("Changing To Lower")
print(result)

[1] "changing to lower"

In [26]:
# Extract characters from 5th to 7th position.
result <- substring("Extract", 5, 7)
print(result)

[1] "act"

In [31]:
library(tidyverse)

In [32]:
str_length(c("a", "R for data science", NA))

[1]  1 18 NA

In [33]:
x <- "\u00b5"
x

[1] "µ"

In [34]:
x <- c("\"", "\\")
x

[1] "\"" "\\"

In [35]:
str_c("x", "y")

[1] "xy"

In [36]:
str_c("x", "y", "z")

[1] "xyz"

In [37]:
str_c("x", "y", sep = ", ")

[1] "x, y"

In [38]:
x <- c("abc", NA)
str_c("|-", x, "-|")

[1] "|-abc-|" NA

In [39]:
str_c("|-", str_replace_na(x), "-|")

[1] "|-abc-|" "|-NA-|"

In [40]:
str_c("prefix-", c("a", "b", "c"), "-suffix")

[1] "prefix-a-suffix" "prefix-b-suffix" "prefix-c-suffix"

In [41]:
name <- "Hadley"
time_of_day <- "morning"
birthday <- FALSE

str_c(
  "Good ", time_of_day, " ", name,
  if (birthday) " and HAPPY BIRTHDAY",
  "."
)

[1] "Good morning Hadley."